---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ ocp4_workload_httpd_fileserver_service_name }}-data
  namespace: {{ ocp4_workload_httpd_fileserver_namespace }}
  labels:
    app: httpd-fileserver
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ ocp4_workload_httpd_fileserver_storage_class }}
  resources:
    requests:
      storage: {{ ocp4_workload_httpd_fileserver_pvc_size }}
