---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: httpd-fileserver
  namespace: {{ ocp4_workload_httpd_fileserver_namespace }}
  labels:
    app: httpd-fileserver
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: |
      {"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ ocp4_workload_httpd_fileserver_service_name }}"}}
